[Settings]
#Language : en,pt,fr,es,de,nl,it,ru,ar,ja
LANGUAGE = en

# Type : views,shares,favorites,hearts
TYPE = views

# URL OF TIKTOK VIDEO!
VIDEO_URL = https://www.tiktok.com/@****/video/****

#Amount of Views, to get the amount of views you'll get just do (<amount> x 1000) ex: with 5 you'll get 5000 views
AMOUNT = 500

#If true, browser won't appear
HEADLESS = True

#Discord Webhook
WEBHOOK = https://discord.com/api/webhooks/----/----

#How much views to send webhooks each time. ex: each 10000 views the webhook sends a custom message
EACH_VIEWS = 1000

#Custom Message To Webhook. If you want to display amount of views put {0} in the place.
MESSAGE = {0} Views Done! - Tiktok Booster

SKIP_WEBHOOK_CONFIGURATION = True
